<ion-header [translucent]="true">
  <ion-toolbar color="black-header">
    <ion-title>
      Calculadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Operação</ion-label>
    <ion-input placeholder="0"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Resultado: {{fullOperation}} </ion-label>
  </ion-item>


  <div class="wrapper">

    <div>
      <ion-button class="left-btn btn-other">%</ion-button>
      <ion-button class="middle-btn btn-other">CE</ion-button>
      <ion-button class="middle-btn btn-other">C</ion-button>
      <ion-button class="right-btn btn-clean">A</ion-button>
    </div>

    <div>
      <ion-button class="left-btn btn-other">1/x</ion-button>
      <ion-button class="middle-btn btn-other">x²</ion-button>
      <ion-button class="middle-btn btn-other">²√x</ion-button>
      <ion-button class="right-btn btn-other">÷</ion-button>
    </div>

    <div>
      <ion-button class="left-btn" (click)="botao(7)">7</ion-button>
      <ion-button class="middle-btn" (click)="botao(8)">8</ion-button>
      <ion-button class="middle-btn" (click)="botao(9)">9</ion-button>
      <ion-button class="right-btn btn-other">X</ion-button>
    </div>

    <div>
      <ion-button class="left-btn" (click)="botao(4)">4</ion-button>
      <ion-button class="middle-btn" (click)="botao(5)">5</ion-button>
      <ion-button class="middle-btn" (click)="botao(6)">6</ion-button>
      <ion-button class="right-btn btn-other">-</ion-button>
    </div>


    <div>
      <ion-button class="left-btn" (click)="botao(1)">1</ion-button>
      <ion-button class="middle-btn" (click)="botao(2)">2</ion-button>
      <ion-button class="middle-btn" (click)="botao(3)">3</ion-button>
      <ion-button class="right-btn btn-other">+</ion-button>
    </div>

    <div>
      <ion-button class="left-btn btn-other">+/-</ion-button>
      <ion-button class="middle-btn">0</ion-button>
      <ion-button class="middle-btn btn-other">,</ion-button>
      <ion-button class="right-btn btn-result">=</ion-button>
    </div>


  </div>


</ion-content>